$heading: #4f4f4f;
$heading2: #828282;
$bg: #f0f0f0;
$white: #fff;
$shadow: #8080803a;

$bradius:10px;

$skillsBlue:#2f80adb3;
$pd:1.5rem;
$btnBlue:#5c94e1;

@mixin cardStyle {
  background: $white;
  padding: 1.5rem;
  box-shadow: 0 0 5px $shadow;
  border-radius: $bradius;
}
@mixin barAnimation($name, $last) {
  @keyframes #{$name} {
    0% {
      width: 0%;
    }
    100% {
      width: $last;
    }
  }
}

@mixin nameAnim($name) {
  animation: #{$name} 1000ms ease-out forwards;
}

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
  width: 90%;
  margin: 3rem auto;
  max-width: 500px;
}

body {
  font-family: "Poppins";
  font-size: 14px;
  background: var(--bg);
}

h1 {
  color: $heading;
}

p {
  color: $heading2;
}

section > section {
  margin-top: 2rem;
}

